
<section class="landing-container">
  <section class="landing-content">
    <div class="img-hero">
      Large Hero Image Slider
    </div>

    <p class="landing-text-container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis harum omnis officia facere, id velit cum expedita neque veritatis? Quam nostrum accusamus sapiente blanditiis nam libero, velit natus eligendi eveniet incidunt magni quo excepturi id, dicta ipsam officia ut amet fugiat laboriosam illo distinctio!</p>

    <div class="link-img-row">
      <div class="link-img-column">
        <div class="link-img">
          Image
        </div>
        <a href="#!programs-services">Programs and Services</a>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="link-img-column">
        <div class="link-img">
          Image
        </div>
        <a href="">News</a>
        <p>Ullam similique suscipit cumque.</p>
      </div>
      <div class="link-img-column">
        <div class="link-img">
          Image
        </div>
        <a href="">FAQ</a>
        <p>suscipit cumque corporis nemo!</p>
      </div>
    </div>
  </section>

</section>
