
/* mobile header and nav */
.mobile-nav, .mobile-logo {
  display: none;
}




/* desktop */
header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}
header .header-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
header .header-container div {
  flex: 1;
}
header .header-container .header-image {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}
header .header-container .header-search {
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
header .header-container .header-search input {
  height: 30px;
  width: 300px;
}


/* nav bar desktop */
nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #234a87;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.6);
  height: 40px;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
nav a {
  color: #ffffff;
  font-size: 1.2em;
  text-decoration: none;
}



/* landing */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 50px 0px;
}
.landing-container .landing-content {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.landing-content .img-hero {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}
.landing-content .landing-text-container {
  color: #234a87;
  font-size: 1.2em;
}
.link-img-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.link-img-row .link-img-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.link-img-column .link-img {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
}
.link-img-column a {
  text-decoration: none;
  color: blue;
  font-size: 1.3em;
  margin: 5px 0px;
}
.link-img-column p {
  font-size: 1em;
}


/* 2nd level - programs and services */
.programs-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 50px 0px;
}
.programs-main-container .programs-content-container {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.programs-content-container .bread-crumbs {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bread-crumbs a {
  margin: 0px 10px;
  color: blue;
  text-decoration: none;
}


.programs-data {
  display: flex;
  flex: row;
  margin-top: 40px;
}
.programs-data aside {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #234a87;
  color: #ffffff;
  max-height: 300px;
}
.programs-data aside p{
  font-size: 1em;
  padding: 10px;
}
.programs-data aside p{
  background-color: #000000;
}
.programs-data aside ul{
  margin-left: 15px;
  list-style: none;
  padding: 10px;
}
.programs-data aside li{
  margin: 5px 0px;
}
.programs-data aside a{
  color: #ffffff;
  text-decoration: none;
}
.programs-data .content-data {
  display: flex;
  flex: 4;
  flex-direction: column;
  margin-left: 7px;
  align-items: center;
}
.content-data .programs-img {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  height: 40vh;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
  /* margin: 0px 0px 50px 0px; */
}
.content-data p {
  margin: 20px 0px;
  font-size: 1.1em;
  color: #234a87;
  width: 85%;
}

.housing-heading {
  text-align: center;
  font-size: 2.5em;
  margin-top: 20px;
}





/* footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #333;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  padding: 40px 0px;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
footer .footer-container .footer-column {
  flex: 1;
  text-align: center;
}
footer .footer-container .footer-column h4{
  font-size: 1.2em;
}
footer .footer-container .footer-column h1{
  font-size: 0.8em;
}
footer .footer-container .footer-column input{
  width: 300px;
  height: 25px;
  margin: 10px 0px;
}
footer .footer-container .footer-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 25px;
}
footer .footer-container .footer-row p{
  margin: 0px 10px;
  font-size: 0.8em;
}

.left {
  text-align: left !important;
  margin-left: 0px;
}
.right {
  text-align: right !important;
  margin-right: 60px;
}
.center {
  /* text-align: center; */
  margin-left: 60px;
}











@media(max-width: 1200px) {

/* landing */
  .landing-container .landing-content {
    width: 85%;
  }
  .link-img-row {
    flex-direction: column;
    margin: 50px 0px;
  }
  .link-img-row .link-img-column {
    margin: 30px 0px;
  }
  .link-img-column .link-img {
    height: 300px;
    width: 300px;
  }


/* second level */
  .programs-data aside {
    display: none;
  }
  .bread-crumbs a {
    font-size: 0.8em;
  }


/* footer */
  .programs-main-container .programs-content-container {
    width: 85%;
  }
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container .footer-column {
    margin: 30px 0px;
  }

  /* hides desktop nav/header */
  .desktop-header, .desktop-nav {
    display: none;
  }

  /* shows mobile nav */
  .mobile-nav {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    height: 40px;
    width: 100vw;
  }
  .mobile-nav div {
    flex: 1;
  }
  .mobile-nav div input{
    height: 20px;
    width: 150px;
  }
  .mobile-nav .burger {
    margin: 0px 0px 0px 10px;
  }
  .mobile-nav .burger div {
    background-color: #ffffff;
    border-radius: 5px;
    height: 4px;
    width: 30px;
    color: #ffffff;
    margin: 5px 0px;
  }
  .mobile-nav .burger h4 {
    color: #ffffff;
  }
  .mobile-logo {
    display: flex;
    margin-left: 10px;
  }



  .left {
    text-align: left !important;
    margin-left: 0px;
  }
  .right {
    text-align: center !important;
    margin-right: 0px;
  }
  .center {
    text-align: center;
    margin-left: 0px;
  }


}
