

header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
}
header .header-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}
header .header-container input {
  height: 30px;
  width: 300px;
}


/* nav bar desktop */
nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #234a87;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 2px solid #ffffff;
  box-shadow: 0 3px 7px 0 rgba(0,0,0,0.6);
  height: 40px;
}
nav .nav-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  align-content: center;
  justify-content: space-around;
}
nav a {
  color: #ffffff;
  font-size: 1.2em;
  text-decoration: none;
}



/* landing */
.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin: 50px 0px;
}
.landing-container .landing-content {
  display: flex;
  flex-direction: column;
  width: 75%;
}
.landing-content .img-hero {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

.landing-content .landing-text-container {
  color: #234a87;
  font-size: 2em;
}


.link-img-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}
.link-img-row .link-img-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.link-img-column .link-img {
  display: flex;
  flex-direction: column;
  background-color: #888888;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  color: #ffffff;
}
.link-img-column a {
  text-decoration: none;
  color: blue;
  font-size: 1.3em;
  margin: 5px 0px;
}
.link-img-column p {
  font-size: 1em;
}







/* footer */
footer {
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #333;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #ffffff;
  padding: 40px 0px;
}
footer .footer-container {
  display: flex;
  flex-direction: row;
  width: 80%;
}
footer .footer-container .footer-column {
  flex: 1;
  text-align: center;
}
footer .footer-container .footer-column h4{
  font-size: 1.2em;
}
footer .footer-container .footer-column h1{
  font-size: 1.2em;
}
footer .footer-container .footer-column input{
  width: 300px;
  height: 30px;
  margin: 5px 0px;
}
footer .footer-container .footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}
footer .footer-container .footer-row p{
  margin: 0px 10px;
  font-size: 0.8em;
}









@media(max-width: 1200px) {

/* landing */
  .landing-container .landing-content {
    width: 85%;
  }
  .link-img-row {
    flex-direction: column;
    margin: 50px 0px;
  }
  .link-img-row .link-img-column {
    margin: 30px 0px;
  }
  .link-img-column .link-img {
    height: 500px;
    width: 500px;
  }

/* footer */
  footer .footer-container {
    flex-direction: column;
  }
  footer .footer-container .footer-column {
    margin: 30px 0px;
  }


}
